@import "reset";
@import "typography";

$primary-color: orange;
$body-font: "Jost";
$body-size: 24px;

@mixin drop-shadow($color) {
    box-shadow: 0 0 10px $color;
}

@mixin mq ($width) {
    @media (max-width: $width) {
        @content;
    }
}

body {
    background-color: $primary-color;
    color: white;
    font-family: $body-font;
    line-height: 1.5;
    font-size: $body-size;
    @include mq(600px) {
        background-color: rgb(165, 52, 0);
    }
}

section {
    background-color: white;
    color: $primary-color;
    @include drop-shadow(rgba(16, 16, 82, 0.212));

    p {
        margin: 24px 0 0 0;
    }
}