@custom-media --mq-medium (max-width: 1600px);
@custom-media --mq-small (max-width: 800px);

:root {
    --primary-color: rgb(235, 101, 39);
    --text-on-light: #151620;
    --text-on-dark: white;
    --background-color: white;

    --main-margin: 64px;
    --grid-gap: 40px;
    --header-height: 80px;
    --hero-spacing: 240px;
    --centered-width: 50%;
}

@media (--mq-small) {
    :root {
        --main-margin: 32px;
        --grid-gap: 32px;
        --hero-spacing: 80px;
        --centered-width: 75%;
    }
}

body {
    background-color: var(--background-color);
}

header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
}

header, section.grid, section.centre {
    padding: 0 var(--main-margin);
}

section.hero {
    padding: var(--hero-spacing) var(--main-margin);
    color: var(--text-on-dark);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-image: image-set("img/rainbow.jpg" 1x, "img/rainbow@2x.jpg" 2x);
    background-size: cover;
    background-position: center;
}

section.hero h2 {
    margin-bottom: 10px;
}

section.hero.menu {
    background-image: image-set("img/green-wall.jpg" 1x, "img/green-wall@2x.jpg" 2x)
}

section.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--grid-gap);
    align-items: center;
    margin: var(--main-margin) 0;
}

section.grid p {
    margin: 20px 0;
}

.button {
    display: inline-block;
    color: var(--text-on-dark);
    border: 1px solid var(--text-on-dark);
    padding: 15px 30px;
}

.button-fill {
    background-color: var(--primary-color);
}

section.centre {
    text-align: center;
    width: var(--centered-width);
    margin: var(--main-margin) auto;
}

@media (--mq-small) {
    section.grid {
        grid-template-columns: 1fr;
        text-align:center;
    }

    header img {
        width: 140px;
    }

    .button {
        padding: 8px 15px;
    }
}